.LvQ60d {
    background: black;
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 40px;
    margin-left: -20px;
    margin-top: -18px;
    width: 40px;
    z-index: 507;
}
.rGFpCd {
    border-top: black solid 5px;
    position: absolute;
    z-index: 507;
    left: 0;
    right: 0;
    pointer-events: none;
}
/* weekly: day, header */
.LvQ60d + .QIYAPb, .yzWBv.ChfiMc.F262Ye, .INK2ed.F262Ye {
    background-color: yellow !important;
}
/* monthly: day */
.o5s4T:has(.F262Ye) {
    background-color: yellow !important; /* Nebo jakýkoliv jiný styl */
}



